.footer-container {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  .email-link {
    font-size: 1.5rem;
    color: black;
  }
  .social-icons {
    margin-top: 20px;
    img {
      height: 2rem;
      margin: 10px;
    }
  }
  span {
    margin-top: 10px;
  }
  .back-to-top{
    font-size: 40px;
  } 
  
  i {
    color: #fff;
    margin: 1rem 0 $default-font-size;
    transition: all 0.2s ease-in;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-2px);
    }
  }
}