@import "./abstracts/helpers";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/sections";




.navbar-wrapper {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .name {
    font-weight: 600;
  }
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 0.9em;;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    @include respond(phone) {
      font-size: 0.6em;
    }
    @include respond(tab-port) {
      font-size: 1.3em;
    }
    @include respond(tab-land) {
      font-size: 0.6em;
    }
    }
    .active {
      color: black;
    }
  }
  
}
